body {
  font-family: Arial, sans-serif;
  background: hsl(180, 6%, 93%);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #415e4a;
  padding: 20px;
}

h1 {
  color: aquamarine;
  text-align: center;
  display: inline-block;
  margin-left: 120px;
}
p {
  text-align: center;
}

nav ul {
  padding: 1;
  list-styl-type: none;
  border: solid 1px #415e4a;
}
nav ul li {
  padding: 10;
  display: inline;
  margin-right: 100px;
 
 
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  border: solid 1px #08ff5600;
}

nav ul li a:hover {
  color: #00832c;
  text-decoration: none;
  border: solid 1px #08ff56;
}
