body {
    font-family: 'Courier New',sans-serif;
    color:#ffffff;
    background-color: #000000;
    background: url("https://i.pinimg.com/originals/9a/24/5d/9a245d84a1d75078dfb7c2950a1a2d89.jpg");
}

.header-container {
    display: flex;
    justify-content: center;
    padding:10px;
}

.main-title {
    font-family: "Bungee Spice",sans-serif;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aencriptar {
    font-family: "Special Elite",sans-serif;
    
    text-align: center;
    font-size: 1.8em;
    margin-top: 12px;
    background-color: #dedcdc8f;
}

.aencriptar::placeholder {
    text-align: center;
    padding-top: 48px;
    font-family: sans-serif;
    font-size: 20px;
    color:#326d44;
}

.p1 {
    font-size: 18px;
    color:#c4fa02;
    margin-left: 5px;
}

.buttons {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #01ff0ec7;
    font-size: 18px;
    font-weight: bold;
    color:#000000;
}

.buttons:hover {
    background-color:   #03b35283; 
    color:#ffffff;
}

#btEnc {
    margin: 10px 0 0 10px ;
}

#btnDec {
    margin: 10px 0 0  10px ;
}

.adecriptar {
    font-family: "Libre Barcode 128 Text",sans-serif;
    text-align: center;
    font-size: 3.8em;
    margin-top: 12px;
    background-color: #dedcdc8f;
}

.adecriptar::placeholder {
    text-align: center;
    padding-top: 36px;
    font-family: sans-serif;
    font-size: 0.4em;
    color:#326d44;
}

#btCop {
   margin: 10px 0 0  95px ;
}

a {
    text-decoration: none;
    color: #000000;
}

@media(min-width: 721px) and  (max-width: 1980px){
    .main-title {
        font-size: 4em;
    }        
    .aencriptar, .adecriptar {
        width: 650px;
        height: 150px;
    }
    .aencriptar::placeholder, .adecriptar::placeholder {
        font-size: 2.5rem;
    }
    .p1 {
        font-size: 1.5em;
        margin-left: 63px;
    }
    .buttons {
        width: 250px;
        height: 50px;
    }
    #btEnc {
        margin-left: 86px;
    }
    #btCop {
        margin-left: 198px;
    }   
}

@media(min-width: 360px) and (max-width: 720px) {
    body {
        background: url("https://m.media-amazon.com/images/I/81i5tiFrQAL.png");
        background-size: cover;
    }
    .main-title {
        font-size: 2.5em;
    }   
    .section-container, textarea, p {
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .aencriptar, .adecriptar {
        width: 350px;
        height: 135px;     
    }
    .p1{
        margin-left: 20px;
    }
    .buttons {
       width: 200px;
    }
    #btEnc {     
        margin-left: 85px ;
    }
    #btDec {
        margin-left: 85px ;       
    }
    #btCop {
        margin-left: 85px;       
    }
}


